<fieldset>
<legend>Copy On New Plugin settings</legend>
<p>
  <label>Template Project To Copy From</label>
  <%= select_tag 'settings[template_project]', options_for_select(Project.all.collect { |p| [ p.name, p.id ] }.insert(0, ['Disable Copy On New', 0]), @settings['template_project'].to_i) %>
</p>

</fieldset>


